.countdown
  .countdown__content
    h2.countdown__title До запуска осталось:
    #countdown.countdown__wrap(data-date="2020-10-01")
      .countdown__item
        .countdown__number
          span.countdown__time.days
          span.countdown__text Дней
        .countdown__dooble :
      .countdown__item
        .countdown__number
          span.countdown__time.hours
          span.countdown__text Часов
        .countdown__dooble :
      .countdown__item
        .countdown__number
          span.countdown__time.minutes
          span.countdown__text Минут
        .countdown__dooble :
      .countdown__item
        .countdown__number
          span.countdown__time.seconds
          span.countdown__text Секунд
        