doctype html
html(lang="ru")
  block head
    head
      include common/head
  body.body
    include components/loader
    .page
      .page__wrapper
        .page__header
          block header
            include components/header
        .page__content
          block content
      .page__footer
        block footer
          include components/footer
        include components/nav
        include components/modal
    block scripts
      include common/footer
      .page-svg
        include ../../img/sprite.svg
