.button {
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
  font-family: $Circe;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-color: linear-gradient(273.93deg, #a2874c -1.08%, #d5be6d 106%);
  }

  &_empty {
    border: 1px solid rgba(255, 255, 255, 0.85);

    &::before {
      height: 0;
      width: 0;
    }

    &:hover {
      border-color: transparent;

      &::before {
        height: 100%;
        width: 100%;
      }
    }
  }

  &_full {
    border: 1px solid transparent;

    &::before {
      height: 100%;
      width: 100%;
      opacity: 1;
    }

    &:hover {
      //border-color: #fff;
      &::before {
        opacity: 0.8;
      }
    }
  }

  &_dark {
    color: #0e0c17;
    border: 1px solid #0e0c17;
  }

  &_hover-dark {
    &:hover {
      color: #0e0c17;
      border: 1px solid #0e0c17;
    }
  }

  &_hover-white {
    &:hover {
      color: #ffffff;
    }
  }
}
