.content {
  &_about {
    padding: 1em 0;

    @include em(14);

    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  &_white {
    color: $whiteColor;
  }
}

@include media-custom(768px) {
  .content {
    &_about {
      padding: 2em 0;

      @include em(16); }
  }
}
