section.section.section_background.section_services.section_default.section_grey.section_about.section_pad-top.section_pad-bottom.section_darken(style="background-image: url(/img/texture.jpg)")
  .container.container_flex.container_jcsb.about.container_wrap
    .about__left
      h2.title.title_white.title_line.title_second.wow.slideInLeft Философия студии «VIKTORY»
      .about__text.content.content_about.content_white.wow.fadeIn(data-wow-delay="0.5s")
        p Струна иллюстрирует цикл. Модальное письмо может быть реализовано
          | на основе принципов центропостоянности и центропеременности, таким образом гармонический интервал многопланово выстраивает мелодический мнимотакт.
          | Соинтервалие просветляет хорус. Нонаккорд интенсивен. Динамический эллипсис традиционен.
        p Струна иллюстрирует цикл. Модальное письмо может быть реализовано
          | на основе принципов центропостоянности и центропеременности, таким образом гармонический интервал многопланово выстраивает мелодический мнимотакт.
          | Соинтервалие просветляет хорус. Нонаккорд интенсивен. Динамический эллипсис традиционен.
      .about__button.about__button_show.wow.fadeIn(data-wow-delay="1s")
        a(href="#").button.button_empty Узнать больше
    .about__right
      .about__image.wow.slideInRight
        img.lazy(src="/img/about.jpg" alt="123")
      .about__button.about__button_hide
        a(href="#").button.button_empty Узнать больше
.section.section_background.section_default.section_grey.section_darken.section_about-second(style="background-image: url(/img/about-bg.jpg)")
  .container
    p.about-second.wow.fadeIn «Динамический эллипсис изменяем. Фьюжн, в первом приближении, продолжает алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой.»
