section.section.section_grey.section_advantage.section_default.section_first.advantage
  .container.container_flex.container.container_jcsb
    h2.title.title_dark.title_second.advantage__title.wow.slideInLeft.title_line Авторская мебель <br/>«VIKTORY» это:
    .advantage__wrap
      .advantage__item.wow.fadeIn(data-wow-delay="0s")
        .advantage__image
          img.lazy(src="/img/advantage/first.png" alt="Бесплатный вызов\n" +
          "замерщика")
        .advantage__text Бесплатный вызов замерщика
      .advantage__item.wow.fadeIn(data-wow-delay="0.4s")
        .advantage__image
          img.lazy(src="/img/advantage/second.png" alt="Бесплатная доставка и сборка")
        .advantage__text Бесплатная доставка и сборка
      .advantage__item.wow.fadeIn(data-wow-delay="0.8s")
        .advantage__image
          img.lazy(src="/img/advantage/third.png" alt="Сроки изготовления\n" +
          "от 30 рабочих дней")
        .advantage__text Сроки изготовления от 30 рабочих дней
      .advantage__item.wow.fadeIn(data-wow-delay="1.2s")
        .advantage__image
          img.lazy(src="/img/advantage/fourth.png" alt="Бесплатный дизайн-проект")
        .advantage__text Бесплатный<br/>дизайн-проект
