.first-screen.owl-theme.owl-carousel
  .first-screen__item(style="background-image: url(/img/background.jpg)")
    .first-screen__top
    .first-screen__center
    .first-screen__bottom
  .first-screen__item(style="background-image: url(/img/background.jpg)")
    .first-screen__top
    .first-screen__center
    .first-screen__bottom
  .first-screen__item(style="background-image: url(/img/background.jpg)")
    .first-screen__top
    .first-screen__center
    .first-screen__bottom
