section.first-screen
  .first-screen__slider.owl-theme.owl-carousel
    .first-screen__item(style="background-image: url(/img/background.jpg)")
      .container
        h1.title.first-screen__title.title_white Кухни на заказ <br/>в
          i  Крыму
          |  и
          i  Севастополе
        hr.first-screen__line
        .first-screen__button.wow.bounceIn(data-wow-duration="2s")
          a(href="#").button.button_empty Узнать больше
    .first-screen__item(style="background-image: url(/img/background2.jpg)")
      .container
        h2.title.first-screen__title.title_white Кухни на заказ <br/>в
          i  Крыму
          |  и
          i  Севастополе
        hr.first-screen__line
        .first-screen__button.wow.bounceIn(data-wow-duration="2s")
          a(href="#").button.button_empty Узнать больше
  .first-screen__navigation
    .container.container_flex.container_aic.container_jcsb
      .first-screen__left
        .first-screen__info
          .first-screen__text.first-screen__text_current 01
          .first-screen__load
            span(style="width: 0")
          .first-screen__text.first-screen__text_all 02
        .first-screen__buttons
          .first-screen__nav.first-screen__nav_prev.button.button_empty
            svg
              use(xlink:href="#arrow-left")
          .first-screen__nav.first-screen__nav_next.button.button_empty
            svg
              use(xlink:href="#arrow-right")
      .first-screen__right
        ul.first-screen__social
          <li> <a href="https://vk.com/viktory_mebel" target="_blank" onclick="ym(66595618,'reachGoal','vk')"><i class="fab fa-vk" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.facebook.com/viktorymebel92" target="_blank" onclick="ym(66595618,'reachGoal','facebook')"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.instagram.com/viktory_mebel/" target="_blank" onclick="ym(66595618,'reachGoal','instagram')"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.youtube.com/channel/UCA07HzlN-MhyIAB6rzH2Bfw" target="_blank" onclick="ym(66595618,'reachGoal','youtube')"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
          <li> <a href="https://twitter.com/Viktory52661529" target="_blank" onclick="ym(66595618,'reachGoal','twitter')"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
