section.section.section_pad-bottom.section_default.section_white
  .container.container_flex.container_wrap.container_ais.callback.wow.fadeIn
    .callback__left
      h3.title_services.title.title_dark.title_left.title_callback Закажите <span class="title_blue title_italic">бесплатный замер</span> вашей будущей кухни
      form.form.form_pad-top(action="#")
        .form__item
          input.form__input.form__input_transparent.form__input_border-grey.form__input_error(type="text" placeholder="Ваше имя*" name="name")
          span.form__error 123
        .form__item
          input.form__input.form__input_phone.form__input_transparent.form__input_border-grey(type="text" placeholder="Ваше телефон*" name="phone")
        .form__item.form__item_textarea
          textarea.form__textarea.form__input_transparent.form__input_border-grey(name="message" rows='1' placeholder="Ваш запрос")
        .form__item.form__button
          input(type="hidden" name="theme" value="Заявка на бесплатный замер")
          button.button.button_full.button_hover-dark(type="submit") Отправить
          .form__policy Отправляя заявку вы даёте согласие  <a href="politika.pdf" target="_blank">политикой конфендициальности</a>
    .callback__right
      .callback__image(style="background-image: url(/img/callback.jpg)")
