section.section.section_pad-top.section_default
  .container.container_material.section_background(style="background-image: url(/img/texture.jpg)")
    h2.title.title_services.title_white.title_left.title_material Материалы фасада
    .container_flex.container_jcsb.material.container_wrap
      .material__left
        .material__tabs
          .material__tab.active(data-type="plenka" data-image="/img/material/1.jpg") Пленка
          .material__tab(data-type="derevo" data-image="/img/material/1.jpg") Массив дерева
          .material__tab(data-type="plastik" data-image="/img/material/1.jpg") Пластик
          .material__tab(data-type="emal" data-image="/img/material/1.jpg") Эмаль
      .material__right
        img.material__image(src="/img/material/1.jpg" alt="Пленка")


