section.section.section_darken.section_portfolio.section_background(style="background-image: url(/img/portfolio/1.jpg)")
  .container
    h2.title.title_white.title_second.wow.slideInLeft Последние проекты
    .container_wrap.container_flex.container_jcsb.container_ais.container_portfolio
      .portfolio.wow.fadeIn(data-image="/img/portfolio/1.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня

      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio.wow.fadeIn(data-image="/img/background2.jpg")
        .portfolio__wrap
          h3.portfolio__title
            a(href='#') Название в одну строку
          .portfolio__category
            a(href="#") кухня
      .portfolio-link
        a(href='#') Смотреть все работы
          <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.0909 0.666748L20.1616 1.60675L23.8393 5.33341L0 5.33341L0 6.66675L23.8393 6.66675L20.1616 10.3934L21.0909 11.3334L26.3636 6.00008L21.0909 0.666748Z" fill="white"/>
          </svg>

