section.section.section_default.section_pad-bottom.section_review
  h2.title.title_second.title_center.title_dark Отзывы наших клиентов
  .container.container_relative
    <svg width="14" height="10" viewBox="0 0 14 10" class="review-svg" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 10H4L6 6V0H0V6H3L1 10ZM9 10H12L14 6V0H8V6H11L9 10Z" fill="url(#paint0_linear)"/>
    <defs>
    <linearGradient id="paint0_linear" x1="14.1609" y1="10" x2="-1.71258" y2="8.47218" gradientUnits="userSpaceOnUse">
    <stop stop-color="#A2874C"/>
    <stop offset="1" stop-color="#D5BE6D"/>
    </linearGradient>
    </defs>
    </svg>
    .container.container_review
      .review.owl-theme.owl-carousel
        .review__item
          .review__text
            p Попса образует голос, однако сами песни забываются очень быстро. Детройтское техно вызывает музыкальный винил, как и реверансы в сторону ранних
              | "роллингов". Алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой неустойчив.
          .review__user
            .review__border
              .review__image
                a(href="#")
                  img.lazy(src="/img/reviews/1.jpg")
            .review__name
              a(href="#") Денис Герасимов
        .review__item
          .review__text
            p Попса образует голос, однако сами песни забываются очень быстро. Детройтское техно вызывает музыкальный винил, как и реверансы в сторону ранних
              | "роллингов". Алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой неустойчив.
          .review__user
            .review__border
              .review__image
                a(href="#")
                  img.lazy(src="/img/reviews/1.jpg")
            .review__name
              a(href="#") Денис Герасимов
        .review__item
          .review__text
            p Попса образует голос, однако сами песни забываются очень быстро. Детройтское техно вызывает музыкальный винил, как и реверансы в сторону ранних
              | "роллингов". Алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой неустойчив.
          .review__user
            .review__border
              .review__image
                a(href="#")
                  img.lazy(src="/img/reviews/1.jpg")
            .review__name
              a(href="#") Денис Герасимов
        .review__item
          .review__text
            p Попса образует голос, однако сами песни забываются очень быстро. Детройтское техно вызывает музыкальный винил, как и реверансы в сторону ранних
              | "роллингов". Алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой неустойчив.
          .review__user
            .review__border
              .review__image
                a(href="#")
                  img.lazy(src="/img/reviews/1.jpg")
            .review__name
              a(href="#") Денис Герасимов
    .review-button.review-button_prev
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.67 1.8701L9.9 0.100098L0 10.0001L9.9 19.9001L11.67 18.1301L3.54 10.0001L11.67 1.8701Z" fill="#0E0C17"/>
      </svg>
    .review-button.review-button_next
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.33 18.1299L2.1 19.8999L12 9.9999L2.1 0.0999022L0.330001 1.8699L8.46 9.9999L0.33 18.1299Z" fill="#0E0C17"/>
      </svg>
  .review-nav
    .review-nav__text.review-nav__text_active 01
    .review-nav__line
      span
    .review-nav__text.review-nav__text_all 04
