section.section.section_grey.section_services.section_default.section_services
  .container.container_flex.container_jcsb.container_ais.container_wrap
    .services.services_small.wow.zoomIn
      h2.title.title_dark.title_services Подберём для вас самый лучший вариант!
      .services__button
        a(href="#").modal-open.button.button_dark.button_empty.button_hover-white Заказать расчет кухни
    .services.services_big.wow.zoomIn
      .services__wrap
        .services__left
          a(href="#")
            img.lazy(src="/img/services/1.jpg" alt="1")
        .services__right
          h3.services__title Кухни в стиле «Эконом»
          .services__price от 35 000 ₽
          .services__button.services__button_main
            a(href="#").button.button_full.button_hover-dark Подробнее
    .services.services_half.wow.zoomIn
      .services__wrap.services__wrap_reverse
        .services__left.services__left_reverse
          a(href="#")
            img.lazy(src="/img/services/1.jpg" alt="1")
        .services__right.services__right_reverse
          h3.services__title Кухни в стиле «Эконом»
          .services__price от 35 000 ₽
          .services__button.services__button_main
            a(href="#").button.button_full.button_hover-dark Подробнее
    .services.services_half.wow.zoomIn
      .services__wrap.services__wrap_reverse
        .services__left.services__left_reverse
          a(href="#")
            img.lazy(src="/img/services/1.jpg" alt="1")
        .services__right.services__right_reverse
          h3.services__title Кухни в стиле «Эконом»
          .services__price от 35 000 ₽
          .services__button.services__button_main
            a(href="#").button.button_full.button_hover-dark Подробнее
