section.section.section_background.section_services.section_default.section_white.section_stage.section_pad-top
  .container
    h2.title.title_second.title_line.title_dark.wow.slideInLeft Этапы работ
    .container_flex.container_wrap.container_ais.container_jcsb.container_stage
      .stage.wow.fadeIn
        h3.stage__title Выбор мебели
        p.stage__text Посмотрите наши работы. Запросите расчёт стоимости
          | понравившегося варианта. Если нет времени разбираться в материалах или возникли сложности мы поможем с дизайном и предложим лучшие варианты.
        .stage__number 01
      .stage.wow.fadeIn
        h3.stage__title Замер помещения
        p.stage__text При заказе мебели необходимо учитывать технические моменты. Вниманию стоит уделить отверстиям под разводку коммуникаций. Довертье замер опытному специалисту.
        .stage__number 02
      .stage.wow.fadeIn
        h3.stage__title Договор и оплата
        p.stage__text После соглосования всех деталий утверждается дизайн проект и подписывается договор. Оплатить можно любым
          | удобным Вам способом - наличный и безналичный рсчёт.
        .stage__number 03
      .stage.wow.fadeIn
        h3.stage__title Изготовление мебели
        p.stage__text Срок производства мебели состовляет от 5 до 35 дней в зависимости от вашего объема заказа. Сроки могут сдвигаться в зависимости от сложности проекта.
        .stage__number 04
      .stage.wow.fadeIn
        h3.stage__title Доставка и установка
        p.stage__text У нас нет выходных, поэтому доставка осуществляется в удобное для Вас время. Сборка займет один рабочий день.
          | Гарантия 3 года на наши собственные изделия.
        .stage__number 05
      .stage.wow.fadeIn
        h3.stage__title Гарантийный срок
        p.stage__text После подписания акта приемки начинает действовать гарантийные обязательства по официальному договору.
        .stage__number 06
