.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $headerIndex;
  padding: 1em 0;

  &__logo {
    flex-basis: auto;
    text-align: center;
    order: 2;

    svg {
      width: 100%;
      max-width: 170px;
      vertical-align: top;
    }
  }

  &__burger {
    order: 1;
    text-align: left;
    flex-basis: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__callback {
    order: 3;
    flex-basis: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    height: 48px;
    border-radius: 10em;
    cursor: pointer;
    transition: all .5s;

    svg {
      width: 14px;
      vertical-align: top;
    }
  }

  &__text {
    display: none;
    font-family: $Circe;
    font-weight: bold;
    text-transform: uppercase;
    @include em(12);
    color: $whiteColor;
    padding-left: 0.8em;
  }

  &__toggle {
    display: none;
    padding-left: 1em;
    letter-spacing: 0.06em;
    color: $whiteColor;
    font-weight: 500;
    @include em(16);
    font-family: $Cormorant;
    text-transform: uppercase;
  }

  &__menu {
    width: 48px;
    height: 48px;
    border-radius: 10em;
    border: 1px solid #fff;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    background-color: transparent;
    overflow: hidden;

    &::before {
      border-radius: 10em;
    }

    span {
      height: 1px;
      background-color: #fff;
      width: 12px;
      position: relative;
      z-index: 2;
      transition: all .25s;

      &:first-child {
        width: 16px;
      }

      &:last-child {
        width: 16px;
      }
    }
    &_close {
      span {
        width: 24px;
        &:first-child {
          transform: translateY(7px) rotate(45deg);
        }
        &:last-child {
          transform: translateY(-8px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }

}
@include media-custom(768px) {
  .header {
    padding: 2em 0;
    &__burger {
      flex-basis: 15%;
    }
    &__text {
      display: block;
    }
    &__logo {
      svg {
        max-width: 185px;
      }
    }
    &__toggle {
      display: block;
    }
    &__callback {
      flex-basis: 15%;
      border-radius: 0;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
