.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $headerIndex;
  padding: 1em 0;

  &__logo {
    flex-basis: auto;
    text-align: center;
    order: 2;

    svg {
      width: 100%;
      max-width: 170px;
      vertical-align: top;
    }
  }

  &__burger {
    order: 1;
    text-align: left;
    flex-basis: 48px;
    display: flex;
  }

  &__open {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-basis: auto;
  }

  &__callback {
    order: 3;
    flex-basis: 48px;
    text-align: right;
    align-self: flex-end;

    svg {
      width: 14px;
      vertical-align: top;
    }
  }

  &__button {
    height: 48px;
    border-radius: 10em;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__text {
    display: none;
    font-family: $Circe;
    font-weight: bold;
    text-transform: uppercase;

    @include em(12);

    color: $whiteColor;
    padding-left: 0.8em;
  }

  &__toggle {
    display: none;
    padding-left: 1em;
    letter-spacing: 0.06em;
    color: $whiteColor;
    font-weight: 500;

    @include em(16);

    font-family: $Cormorant;
    text-transform: uppercase;
  }

  &__menu {
    width: 48px;
    height: 48px;
    border-radius: 10em;
    border: 1px solid #ffffff;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    background-color: transparent;
    overflow: hidden;

    &::before {
      border-radius: 10em;
    }

    span {
      height: 1px;
      background-color: #ffffff;
      width: 12px;
      position: relative;
      z-index: 2;
      transition: all 0.25s;

      &:first-child {
        width: 16px;
      }

      &:last-child {
        width: 16px;
      }
    }

    &_close {
      span {
        width: 24px;

        &:first-child {
          transform: translateY(7px) rotate(45deg);
        }

        &:last-child {
          transform: translateY(-8px) rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
}

@include media-custom(768px) {
  .header {
    padding: 2em 0;

    &__burger {
      flex-basis: 25%;
    }

    &__text {
      display: block;
    }

    &__logo {
      svg {
        max-width: 185px;
      }
    }

    &__open {
      max-width: 142px;
      width: 100%;
    }

    &__toggle {
      display: block;
    }

    &__callback {
      flex-basis: 25%;
    }

    &__button {
      max-width: 180px;
      border-radius: 0;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
