.container_material {
  padding: 1em;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background: rgba(14, 12, 23, 0.45);
  }
}

.title_material {
  position: relative;
  z-index: 2;
}

.material {
  padding-top: 1em;
  position: relative;
  z-index: 2;

  &__left {
    flex-basis: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__right {
    flex-basis: 100%;
    display: none;
  }

  &__image {
    width: 100%;
    vertical-align: top;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__text {
    display: none;
    color: $whiteColor;

    @include em(18);

    &.active {
      display: block;
    }
  }

  &__tabs {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }

  &__tab {
    font-family: $Circe;
    font-weight: bold;
    flex-basis: auto;
    text-align: center;
    margin-bottom: 0.5em;
    display: inline-block;
    color: rgba(#ffffff, 0.75);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;

    @include em(14);

    border-bottom: 1px solid transparent;

    &:hover {
      color: #ffffff;
    }

    &.active {
      color: $accentColor;
      border-color: $accentColor;
    }
  }

  &__link {
    a {
      padding: 1em 0;
      text-align: center;
      display: block;
      max-width: 240px;

      @include em(16);

      svg {
        margin-left: 1em;
      }
    }
  }
}

@include media-custom(480px) {
  .material {
    &__tab {
      text-align: left;
      margin-bottom: 0;
      flex-basis: auto;

      @include em(16);
    }
  }
}

@include media-custom(768px) {
  .container_material {
    padding: 3em;
  }

  .material {
    padding-top: 2em;

    &__left {
      flex-basis: 60%;
    }

    &__right {
      flex-basis: 30%;
      display: block;
    }

    &__image {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &__link {
      a {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
}
