.services {
  padding: 1em;
  background-color: #ffffff;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;

  &__button {
    text-align: center;
    padding-top: 2em;

    a {
      display: block;
      margin: 0 auto;
      padding: 1em 0;

      @include em(12);
    }

    &_main {
      padding-top: 0;

      a {
        max-width: 200px;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__left {
    img {
      max-width: 400px;
      width: 100%;
      vertical-align: top;
    }
  }

  &__right {
    padding-top: 2em;
    text-align: center;
  }

  &__title {

    @include em(24);

    color: #0e0c17;
    font-family: $Circe;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  &__price {
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: #0e0c17;

    @include em(16); }
}

@include media-custom(768px) {
  .services {
    padding: 2.5em 2em;

    &_small {
      flex-basis: 49%;
    }

    &_big {
      flex-basis: 49%;
    }

    &_half {
      flex-basis: 49%;
    }

    &__button {
      a {

        @include em(14); }
    }

    &__title {

      @include em(32);
    }
  }
}

@include media-custom(992px) {
  .services {
    &__button {

      @include em(16);

      a {
        margin: 0;
      }
    }

    &_small {
      flex-basis: 33%;
    }

    &_big {
      flex-basis: 65%;
    }

    &__right {
      text-align: left;
      padding-top: 0;
      padding-left: 1em;

      &_reverse {
        padding-left: 0;
        padding-right: 1em;
      }
    }

    &__left {
      padding-right: 1em;

      &_reverse {
        padding-right: 0;
        padding-left: 1em;
      }
    }

    &__wrap {
      flex-wrap: nowrap;

      &_reverse {
        flex-direction: row-reverse;
      }
    }
  }
}
