extends layout/layout

block content
  main.main
    include includes/index/first-screen
    include includes/index/advantage
    include includes/index/services
    include includes/index/about
    include includes/index/stage
    include includes/index/form
    include includes/index/portfolio
    include includes/index/material
