// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

//Colors
$accentColor: #03c8f5;
$secondAccentColor: #03c8f5;
$whiteColor: #ffffff;
$darkColor: #000;
$greyColor: #bdbdbd;

//Fonts
$Circe: "Circe", sans-serif;
$Cormorant: "Cormorant Garamond", sans-serif;

$defaultFont: 16;


//z-index
$headerIndex: 4;
$loaderIndex: 100;
