.nav
  .container.nav__container
    .nav__wrap
      .nav__head
      .nav__content
        nav.nav__left
          ul
            li
              span 01
              a(href="#") Услуги
            li
              span 02
              a(href='#') Портфолио
            li
              span 03
              a(href="#") Статьи
            li
              span 04
              a(href="#") Калькулятор
            li
              span 05
              a(href="#") О нас
            li
              span 06
              a(href="#") Вакансии
                b 3
            li
              span 07
              a(href="#") Контакты
      .nav__footer
        .nav__contacts
          .nav__phones
            a(href="#") +7 (978) 832-83-73
            span /
            a(href="#") +7 (978) 832-83-73
          .nav__mail
            a(href="#") victory@mail.ru
        ul.nav__social
          <li> <a href="https://vk.com/viktory_mebel" target="_blank" onclick="ym(66595618,'reachGoal','vk')"><i class="fab fa-vk" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.facebook.com/viktorymebel92" target="_blank" onclick="ym(66595618,'reachGoal','facebook')"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.instagram.com/viktory_mebel/" target="_blank" onclick="ym(66595618,'reachGoal','instagram')"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          <li> <a href="https://www.youtube.com/channel/UCA07HzlN-MhyIAB6rzH2Bfw" target="_blank" onclick="ym(66595618,'reachGoal','youtube')"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
          <li> <a href="https://twitter.com/Viktory52661529" target="_blank" onclick="ym(66595618,'reachGoal','twitter')"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>


