.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  &_flex {
    display: flex;
  }

  &_jcsb {
    justify-content: space-between;
  }

  &_aic {
    align-items: center;
  }

  &_ais {
    align-items: stretch;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_relative {
    position: relative;
  }

  &_review {
    max-width: 1000px;
  }
}
